@page "/"
@inject NavigationManager NavigationManager

<PageTitle>JV - Home</PageTitle>
<div>
    <MudGrid Justify="Justify.FlexStart" Class="mt-4">
        <MudItem xs="12" sm="6" md="4" @onclick="@(() => NavigationManager.NavigateTo("/produtos"))">
            <MudCard Outlined="true" Style="cursor: pointer; box-shadow: 0 4px 16px rgba(0,0,0,0.5);" Class="card d-flex flex-column justify-center mud-width-full">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Produtos</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIcon Icon="@Icons.Material.Rounded.Inventory2" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="imgs/Home/Produtos.png" Height="250"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle1">Ir para seção de produtos.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" @onclick="@(() => NavigationManager.NavigateTo("/dashboard"))">
            <MudCard Outlined="true" Style="cursor: pointer; box-shadow: 0 4px 16px rgba(0,0,0,0.5);" Class="card d-flex flex-column justify-center mud-width-full">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Dashboard</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIcon Icon="@Icons.Material.Rounded.SpaceDashboard" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="imgs/Home/Dashboard.png" Class="justify-center align-center" Height="250"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle1">Ir para dashboard.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" @onclick="@(() => NavigationManager.NavigateTo("/escolas"))">
            <MudCard Outlined="true" Style="cursor: pointer; box-shadow: 0 4px 16px rgba(0,0,0,0.5);" Class="card d-flex flex-column justify-center mud-width-full">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Escolas</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIcon Icon="@Icons.Material.Rounded.School" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="imgs/Home/Escolas.png" Class="justify-center align-center" Height="250"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle1">Ir para seção de escolas.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="15" sm="8" md="6" @onclick="@(() => NavigationManager.NavigateTo("/pedidos"))">
            <MudCard Outlined="true" Style="cursor: pointer; box-shadow: 0 4px 16px rgba(0,0,0,0.5);" Class="d-flex flex-column justify-center mud-width-full mud-scale-on-hover">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Pedidos</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIcon Icon="@Icons.Material.Rounded.ShoppingBag" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="imgs/Home/Pedidos.png" Class="justify-center align-center" Height="250"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle1">Ir para seção de pedidos.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="15" sm="8" md="6" @onclick="@(() => NavigationManager.NavigateTo("/variacoes"))">
            <MudCard Outlined="true"  Style="cursor: pointer; box-shadow: 0 4px 16px rgba(0,0,0,0.5);" Class="d-flex flex-column justify-center mud-width-full">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Variações de Produtos</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIcon Icon="@Icons.Material.Rounded.Style" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="imgs/Home/Variacoes.png" Class="justify-center align-center" Height="250"/>
                <MudCardContent>
                    <MudText Typo="Typo.subtitle1">Ir para seção de variações.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>