@page "/produtos"
@inherits ProdutosBase

<MudText Typo="Typo.h3" Color="Color.Primary">
    Produtos
</MudText>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Rounded.Add" OnClick="OnCreateButtonClickedAsync">NOVO PRODUTO</MudButton>
</div>

<MudDataGrid T="Produto" Dense="true" @ref="_grid" Hover="true" Class="mt-4" Filterable="false" ServerData="LoadServerData" Hideable="true" ShowFilterIcons="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Produtos</MudText>
        <MudSpacer/>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#"/>
        <PropertyColumn Property="x => x.Nome" Title="Nome"/>
        <PropertyColumn Property="x => x.Descricao" Title="Descrição"/>
        <PropertyColumn Property="x => x.Preco" Title="Preço" Format="C"/>
        <TemplateColumn Title="Peça">
            <CellTemplate>
                <MudChip Color="Color.Primary">@(((EPeca)context.Item.Peca).ToString().AdicionarEspacoAntesMaiuscula())</MudChip>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Rounded.Edit" Color="Color.Primary" OnClick="() => OnEditButtonClickedAsync(context.Item.Id)"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Rounded.Delete" Color="Color.Error"  OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Nome)"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Rounded.Segment" Color="Color.Primary" aria-label="Ver variações"></MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager/>
    </PagerContent>
</MudDataGrid>